<br>
<div class="card-header bg-transparent mainheader">
  <h3 class="card-title font-weight-bold mt-3 mb-3">Welcome</h3>
</div>

<br>
<p>Thank you for participating in our study. Please read the following instructions carefully.</p>
<p>
  The study will last roughly <strong>5 minutes</strong>. We kindly ask you not to switch tabs during the experiment and turn off all sources of distraction (e. g., your mobile phone) to concentrate on the task.
</p>
<p> In addition to the participation fee <strong>you might earn money in British Pounds(£) to be paid as bonus payment</strong> during the task.</p>



<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
