{% load otree static %}

<br>
<div class="card-header bg-transparent mainheader">
  <h3 class="card-title font-weight-bold mt-3 mb-3">
    Instructions for Stage 1 - The Effort Stage
  </h3>
</div>

<br>
<p>
  In this stage, you and 
  {% if session.config.competition %}
    your competitors
  {% else %}
    other group members
  {% endif %}

 will be shown a series of <strong>captchas</strong>, i.e., an image of a sequence of numbers and letters. You should try to input these letters in the given field. After each input, whether your entry was correct or not, you will be shown another captcha.
</p>

<figure>
  <img id="effortimage" src="{% static 'instructions/effort_task.png' %}"><br>
  <figurecaption> <small>An screenshotfrom the Effort Stage. </small></figurecaption>
</figure>
<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>

<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
