{% load otree static %}

<br>
<div class="card-header bg-transparent mainheader">
  <h3 class="card-title font-weight-bold mt-3 mb-3">
    Instructions for Stage 1 - The Effort Stage
  </h3>
</div>

<br>
<p>
  For each captcha you entered correctly, you will collect <strong>£0.10</strong>. The task will last<strong> 90 seconds</strong>. 
</p>
<figure>
  <img id="effortimage" src="{% static 'instructions/effort_task.png' %}"><br>
  <figurecaption> <small>A screenshot from the Effort Stage. </small></figurecaption>
</figure>


<button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>

<button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
