{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
  Instructions
{% endblock %}

{% block scripts %}

  <script src="{% static 'back_button_v1/js/prev_next_button.js' %}"></script>

{% endblock %}

{% block styles %}

  <link href="{% static 'back_button_v1/css/custom.css' %}" rel="stylesheet">
  <style>
   ul li { padding: 5px 0px; }
  </style>

<!-- 
  <style>
   .otree-timer {
       display: none;
   }
  </style>
  -->

{% endblock %}


{% block content %}
  <!-- Tab navigation -->

  <ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center" id="myTab" role="tablist" style="display: none">


    <li class="nav-item">
      <a style="pointer-events: none; cursor: default;" class="nav-link active" id="part1-tab" data-toggle="tab"
         href="#part1" role="tab" aria-controls="part1" onclick="topFunction()">Welcome</a>
    </li>

    <li class="nav-item">
      <a style="pointer-events: none; cursor: default;" class="nav-link" id="part2-tab" data-toggle="tab"
         href="#part2" role="tab" aria-controls="part2" onclick="topFunction()">Grouping</a>
    </li>

    <li class="nav-item">
      <a style="pointer-events: none; cursor: default;" class="nav-link" id="part3-tab" data-toggle="tab"
         href="#part3" role="tab" aria-controls="part3" onclick="topFunction()">Pictures</a>
    </li>

    <li class="nav-item">
      <a style="pointer-events: none; cursor: default;" class="nav-link" id="part4-tab" data-toggle="tab"
         href="#part4" role="tab" aria-controls="part4" onclick="topFunction()">Candidate Pictures</a>
    </li>

    <li class="nav-item">
      <a style="pointer-events: none; cursor: default;" class="nav-link" id="part5_1-tab" data-toggle="tab"
         href="#part5_1" role="tab" aria-controls="part5_1" onclick="topFunction()">Similarity</a>
    </li>

    <li class="nav-item">
      <a style="pointer-events: none; cursor: default;" class="nav-link" id="part6-tab" data-toggle="tab"
         href="#part6" role="tab" aria-controls="part6" onclick="topFunction()">Voting</a>
    </li>

    <li class="nav-item">
      <a style="pointer-events: none; cursor: default;" class="nav-link" id="part7-tab" data-toggle="tab"
         href="#part7" role="tab" aria-controls="part7" onclick="topFunction()">Voting Screenshot</a>
    </li>

    <li class="nav-item">
      <a style="pointer-events: none; cursor: default;" class="nav-link" id="part8-tab" data-toggle="tab"
         href="#part8" role="tab" aria-controls="part8" onclick="topFunction()">Voting Example</a>
    </li>

    <li class="nav-item">
      <a style="pointer-events: none; cursor: default;" class="nav-link" id="part9-tab" data-toggle="tab"
         href="#part9" role="tab" aria-controls="part9" onclick="topFunction()">Voting Rounds</a>
    </li>

    <li class="nav-item">
      <a style="pointer-events: none; cursor: default;" class="nav-link" id="part10-tab" data-toggle="tab"
         href="#part10" role="tab" aria-controls="part10" onclick="topFunction()">Voting Outcome and Payoffs</a>
    </li>

    <li class="nav-item">
      <a style="pointer-events: none; cursor: default;" class="nav-link active" id="part11-tab" data-toggle="tab"
         href="#part11" role="tab" aria-controls="part11" onclick="topFunction()">Voting Control Questions</a>
    </li>
  </ul>
  <!-- end navigation -->



  <!-- Tab content -->
  <div class="tab-content" id="myTabContent">


    <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">

      {% include "./i1.html" %}

    </div>

    <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">

      {% include "./i2.html" %}

    </div>

    <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">

      {% include "./i3.html" %}

    </div>


    <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part4-tab">

      {% include "./i4.html" %}

    </div>




    <div class="tab-pane" id="part5_1" role="tabpanel" aria-labelledby="part5_1-tab">

      <br>
      <div class="card-header bg-transparent mainheader">
        <h3 class="card-title font-weight-bold mt-3 mb-3">How to evaluate similarity of candidate pictures to target picture?</h3>
      </div>
      <br>

sss

      <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
      <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>

    </div>

    <div class="tab-pane" id="part6" role="tabpanel" aria-labelledby="part6-tab">

      <br>
      <div class="card-header bg-transparent mainheader">
        <h3 class="card-title font-weight-bold mt-3">How to decide in your group?: Voting</h3>
      </div>
      <br>

qqq

      <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
      <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>

    </div>


    <div class="tab-pane" id="part7" role="tabpanel" aria-labelledby="part7-tab">

      <br>
      <div class="card-header bg-transparent mainheader">
        <h3 class="card-title font-weight-bold mt-3">How to vote in your group?</h3>
      </div>
      <br>

mmm

      <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
      <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>

    </div>


    <div class="tab-pane" id="part8" role="tabpanel" aria-labelledby="part8-tab">
      <br>
      <div class="card-header bg-transparent mainheader">
        <h3 class="card-title font-weight-bold mt-3">A Voting Example</h3>
      </div>
      <br>

nnn

      <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
      <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>

    </div>


    <div class="tab-pane" id="part9" role="tabpanel" aria-labelledby="part9-tab">

      <br>
      <div class="card-header bg-transparent mainheader">
        <h3 class="card-title font-weight-bold mt-3">How many pictures you will evaluate?</h3>
      </div>
      <br>

hhh

      <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
      <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
    </div>


    <div class="tab-pane" id="part10" role="tabpanel" aria-labelledby="part10-tab">

      <br>
      <div class="card-header bg-transparent mainheader">
        <h3 class="card-title font-weight-bold mt-3">How many points I will earn from voting stage?</h3>
      </div>
      <br>

lll

      <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
      <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>

    </div>


    <div class="tab-pane show" id="part11" role="tabpanel" aria-labelledby="part11-tab">

      <br>
      <div class="card-header bg-transparent mainheader">
        <h3 class="card-title font-weight-bold mt-3"> Review questions about voting stage</h3>
      </div>
      <br>

qqq

      <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
      <button class="btn-success btn next"> Submit Answers</button>


    </div>

  </div>



{% endblock %}
