{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<p>
  Thank you for participating in our study. Please read the following instructions carefully.
</p>
<p>
  The study will last roughly 2 minutes. We kindly ask you to not to switch tabs during the experiment and turn off all sources of distraction (e. g., your mobile phone) so that you can concentrate on the task.
</p>
<p>
  In addition to the participation fee, during the task, you might earn money in British Pounds(£) to be paid as bonus payment.
</p>

{% next_button %}

{% endblock %}
