{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
  Stage
{% endblock %}

{% block content %}
  <div class="alert alert-primary" id="alert_next_captcha" role="alert">
    Submitted. Loading next captcha...
  </div>
  <style>
   #id_user_input {
       width:6em;
   }
  </style>

  {% with 'captchas/'|add:random_file as image_static %}
    <img id="captcha_image" src="{% static image_static %}"/>
  {% endwith %}
  {% formfield 'user_input' %}
  <button type="button" class="btn btn-primary" onclick="sendAnswer()">Click me</button> 

  <script>
   $("#alert_next_captcha").css('visibility', 'hidden');
   function sendAnswer() {
       liveSend(document.getElementById('id_user_input').value);
   } 

   function liveRecv(data) {
       console.log('received a message!', data);
       document.getElementById("captcha_image").src = "/static/captchas/" +data;
       document.getElementById('id_user_input').value = "";
       $("#alert_next_captcha").css('visibility','visible');
       $('#alert_next_captcha').fadeTo(100,100);

       $('#alert_next_captcha').fadeTo(500,0);

   }
  </script>
{% endblock %}
